
<div class="parent">
<div class="nav">
 <i class="bi bi-shop"></i> <h3>ShopEsay</h3>
 </div>

<div class="middle">
    <form action="">
    <h1><i class="bi bi-person-add"></i> Reset Password</h1>
    
    <label for="">Email</label><br>
    <input type="text" placeholder="Enter your registered Email "><br>
    
    <label for="">Password</label><br>
    <input type="text" placeholder="enter password(min 6 charactors)"><i class="fa fa-eye" id="togglePassword"></i><br>
    <label for="">Confirm Password</label><br>
    <input type="text" placeholder="confiram  your password">
    
   
    <button type="submit"><i class="bi bi-person-add"></i>Reset Password</button><br>
    <p>Rember your password?<a href="" >Login</a></p>

</form>
</div>




